.footer {
    padding: 60px 0px;


    &__title{
        font-weight: 600;
font-size: 24px;
line-height: 30px;
color:$blackColor;
    }
    &__row{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        grid-row-gap: 50px;
        grid-column-gap: 150px;
        justify-content: space-between;
    }

    &__item-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $blackColor;
    }

    &__item-desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $blackColor;
    }
}