.slider_backgound{
    background: radial-gradient(65.81% 245.2% at 31.93% 49.92%, #FFCBCB 0%, #FF0303 100%);
}

.home__slider{
    height: 513px;

    @media screen and (max-width: 608px) {
        height: 400px;
    }
}

.home__title{
    font-size: 50px;
    max-width: 440px;
    color:#ffffff;
    line-height: 62px;

@media screen and (max-width:760px) {
    font-size: 40px;
    line-height: 52px;
}

@media screen and (max-width:560px) {
    font-size: 40px;
    line-height: 52px;
}

@media screen and (max-width:460px) {
    font-size: 30px;
    line-height: 42px;
}
}

.home__description{
    font-size: 20px;

    
    max-width: 426px;
    font-weight: 400;
    font-size: 20px;
letter-spacing: -0.01em;
    color:  #ffffff;

    @media screen and (max-width:760px) {
        font-size: 18px;

    }
    
    @media screen and (max-width:560px) {
        font-size: 16px;

    }
    
    @media screen and (max-width:460px) {
        font-size: 14px;

    }
}

.home__img{
    width: 100%;
    height: 513px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and(max-width:555px) {
        display: none;
    }
    & img {
        object-fit: contain;
        width: 100%;
        height: 100%;  
    }
}